.contenedorPrincipal {
    display: flex;
    justify-content: space-between;
    border: 2px solid #000;
    border-radius: 2%;
    padding: 0.2%;
    margin: 2%;
    margin-left: 10%;
    height: 100cv;
    width: 80%;
}

.contenedorImagen {
    padding: 5%;
    background-color: #5AB2FF;
    flex-basis: 30%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.contenedorImagen span {
    margin-left: 5%;
    font-family: 'Georgia', Arial, sans-serif;
    font-size: 35px;
    color: #ffffff;
    font-weight: bold;
}

.contenedorImagen img {
    width: 50%;
    height: 30%;
    margin-top: 10%;
    margin-left: 25%;
    border-radius: 60%;
}

.contenedorFormulario {
    flex-basis: 64%;
    margin-left: 0%;
    border-radius: 3%;
}

.contenedorFormulario div {
    flex-basis: 90%;
    padding: 10% 15%;
}

.boton {
    margin-left: 8%;
    height: 8%;
    width: 80%;
    padding: 4% 5%;
    background-color: white;
    color: black;
    font-family: 'Tahoma', Arial, sans-serif;
    font-size: 85%;
    font-style: inherit;
    border: 1px solid #000;
    border-radius: 20px;
}

.boton:hover {
    cursor: pointer;
    background-color: #5AB2FF;
    color: white;
}

.contenedorFormulario span {
    font-family: 'Tahoma', Arial, sans-serif;
    font-size: 90%;
    font-style: inherit;
}

.spamMessage{   
    font-size: 90%;
    padding-left: 23%;
    margin-bottom: 0%;
    color: red;
    text-decoration: underline  ;
}

.contenedorFormulario input {
    font-family: 'Tahoma', Arial, sans-serif;
    font-size: small;
    width: 90%;
    padding: 2.5% 2%;
    margin-top: 1.5%;
    margin-bottom: 5%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #5AB2FF;
}