/*styles homepage*/
.homepage {
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    height: 100vh;
    /* Ajusta la altura según sea necesario */
}

.homepage div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinea el contenido a la izquierda */
    justify-content: flex-start;
    /* Alinea el contenido arriba */
    height: 750px;
    background-color: #e9f2ff;
    padding: 5%;
}

.homepage div h2 {
    font-family: 'Courier New', monospace;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    /* Añade espacio entre h2 y span */
}

.homepage div span {
    font-family: 'Courier New', monospace;
    font-size: 30px;
}

.homepage div hr {
    border: 1px solid #000;
    width: 100%;
}

.images {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1%;
    padding-top: 2%;
    border: 2px solid #000;
    border-radius: 30px;
    width: 95%;
}

.images img {
    height: 95%;
    width: 17.2%;
    margin: 0% 1.5%;
    border-radius: 15px;
}

.colombiaft {
    width: 100%;
    height: 55px;
}
  
/* Estilos para Webkit (Chrome, Safari, Opera) */
.dash_middle-div::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar {
    width: 10px;
    /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Color de fondo de la pista de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color del indicador de desplazamiento */
    border-radius: 5px;
    /* Radio de borde del indicador de desplazamiento */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color del indicador de desplazamiento al pasar el mouse */
}